.background {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.card {
  width: 500px !important;
  height: 900px;
  box-shadow: 0px 0px 100px 0px #ddd;
  align-self: center;
  padding: 10px;
  border: 1px solid #eee !important;
}
.header {
  display: flex;
  justify-content: flex-end;
}
.header span {
  cursor: pointer;
}
.body {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
label {
  margin-top: 15px;
}
.buttons {
  text-align: center;
  margin-top: 30px;
}
.backButton {
  float: left;
  padding: 0 !important;
  margin-right: -50px;
}
select:invalid {
  color: #777;
}


/* VIEW */
.view1 {
  margin-bottom: 130px;
}
.view1 div, .view2 div {
  height: 130px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.view1 h6, .view2 h6 {
  margin-top: 15px;
}
#view1, #view2 {
  text-align-last: center !important; 
  padding: 25px !important;
  color: #ccc;
}
.selectedView, .selectedRole {
  border: 2px solid rgb(73, 153, 255) !important;
}
.role1, .role2, .role3 {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
}
.roleIcon {
  text-align-last: center; 
  color: #aaa;
  align-self: center;
}
.roleText {
  margin-left: 15px;
}
.roleText p {
  margin-bottom: 0 !important;
}
.roleText h6 {
  margin-bottom: 0 !important;
}


/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
}
.busterCards {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: #ccc;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.busterCards:last-child {
  margin-right: 0;
}
.active {
  width: 10px !important;
  background-color: #999 !important;
}